# Ignore build output directory
/build
/export
/src/.cache/
/src/.compile_commands/
/src/.clangd

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.peers.ini
.repo.yaml
.vitisWorkspace.json